* {
margin:0;
padding:0;
box-sizing: border-box;

}
body{
    background-image: url('./image/fundo.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
   
}
.title{

    font-size: 20px;
    margin-top: 6.25rem;
}
.dia{
    background-color:black;
    width: 100px;
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.container {
color:white;  
text-align:center;
}
.countdown{
    display: flex;
    width: 96vw;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:white;
}

.countdown h1{
    font-size: 2rem;
    text-shadow: 0 0 10px  black;
}
.button{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: solid 2px whitesmoke;
}

.button:hover {
    background-color: black;
    color: whitesmoke;
}