* m{

    margin: 0;
    padding:0;
    bos-sizing:0;
}



header {
margin: auto ;
margin-top: 100px;
background-color: #ffcc00;
height: 100px;
width: 300px;
border-radius:20px 20px 0 0;
display:flex;
text-align:center;

border-bottom:  solid #111111;
}

main {
height: 360px;
width: 300px;
background-color:#ffcc00;
margin: auto ;
border-radius:0 0 20px 20px;
margin-top: 0px;

}

div {

padding:4px;
}
p { 

    margin: 10px 20px;
}
button{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#111111;
    margin:auto;  
    width:240px;
    height:30px;
    border-radius: 5px;
    color:white;
    font-size:18px;
}

button:hover {
    background-color:green;
    border:none;
    color:#111111;
    font-size:18px;
}
#nome{

    color: red !important;
}

#p1{

  margin-top:10px;
}
  .texto {

    color:#655312;
    margin:20px auto;
    background-color:#111111;
    height:160px;
    width: 240px;
    border-radius:10px;
    font-size: 25px;
    display:flex;
    justify-items:center;
    align-items:center;
}

input {
    height:20px;
    width: 180px;
}
.peso{
    margin-left:30px;
}

