* {

    margin:0;
    padding:0;
    box-sizing: 0;
}

.container-slide {
display:flex; 
height: 50vh;
width: 50vw;
background-color: black;

margin: 20vh auto ;
border-radius: 10px;
box-shadow: 0  25px 30px black;


}
.container-items{
    position: absolute;
background-color: red;
display:flex;
height: 50vh;
width: 50vw;
}
.item{

    height: 50vh;
    width: 50vw;  
}
.item img {
    height: 50vh;
    width: 50vw;

}

.action-button{
font:bold 30px sans-serif;
z-index:1; 

}
